<!DOCTYPE html>
<html>
<head>
    <title>Welcome to blog!</title>
</head>
<body>
<h1><?= $page_title ?></h1>

<ul id="navigation">
    <?php foreach ($navigation as $item): ?>
    <li>
        <a href="<?= $item->getHref() ?>">
            <?= $item->getCaption() ?>
        </a>
    </li>
    <?php endforeach ?>
</ul>
</body>
</html>